.scaduto {
    background-color: crimson;
    color: white;
}

.inScadenza {
    background-color: orange;
    color: black;
}

.green-button {
    color: green;
}

.disabled-button {
    color: gray;
    /* Cambia il colore del pulsante disabilitato */
    cursor: not-allowed;
}