<div class="container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="card" *ngIf="!isLoading">
        <img src="../../../assets/logo-color.png" class="logo-img">

        <form (submit)="onLogin(loginForm)" #loginForm="ngForm" class="form">
            <mat-form-field appearance="outline" *ngIf="!isLogin">
                <mat-label>Name</mat-label>
                <input matInput name="name" ngModel placeholder="Name" #name="ngModel" required>
                <mat-error *ngIf="name.invalid">Please enter a valid email.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required
                    email>
                <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
                    required>
                <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="!isLogin">
                <input type="password" name="passwordConfirm" ngModel matInput placeholder="Confirm Password"
                    #passwordConfirm="ngModel" required>
                <mat-error *ngIf="passwordConfirm.invalid">Please enter a valid password.</mat-error>
                <mat-error *ngIf="passwordConfirm.hasError('passwordConfirm')">Confirm password doesn't match with
                    password.</mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit" class="button">
                {{isLogin ? 'Login' :'Sign Up' }}
            </button>
            <button mat-button color="primary" type="button" class="button" (click)="isLogin = !isLogin">
                {{isLogin ? 'Do you want Sign Up?' :'Do you want Login?' }}
            </button>
        </form>
    </div>
</div>